<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Return Table</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <style>
    body {
      background-image: url('back1.jpg');
      background-size: cover;
    }
    .custom-table {
      width: 80%;
      margin: 0 auto;
    }
    
    
  </style>
</head>
<body>
  <center>
  <h1 style="color: aliceblue; font-size: 45px; font-weight: bold; text-decoration: none">Return Table</h1>
  <div class="table-responsive">
  <table class="table table-striped table-light custom-table">
    <thead>
      <tr>
        <th>Return Date</th>
        <th>Book Name</th>
        <th>Serial Number</th>
        <th>Delete</th>
        <th>Modify</th>
      </tr>
    </thead>
    <tbody>
      <% returns.forEach(function(returns) { %>
        <tr>
          <td><%= returns.rdate %></td>
          <td><%= returns.bname %></td>
          <td><%= returns.sno %></td>
          <td>
            <form method="POST" action="/rdelete/<%= returns.id %>">
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
          </td>
          <td>
            <form method="POST" action="/rmodify/<%= returns.id %>">           
              <select name="modifiedOption" >
                <option value="bname">Bname</option>
                <option value="rdate">Return Date</option>
                <option value="sno">Serial Number</option>
              </select>
              <input type="text" id="modifiedData" name="modifiedData" placeholder="Enter modified Data">

              <button type="submit" class="btn btn-warning">Modify</button>
            </form>
          </td>

        </tr>
      <% }); %>
    </tbody>
  </table>
  </div>
  <p style="color: white; font-size: 20px; font-weight: bold; text-decoration: none">* Format for date should be "yyyy-mm-dd"</p>
  </center>
  <script>
    function changeInputType() {
      var selectElement = document.getElementsByName('modifiedOption')[0];
      var inputElement = document.getElementById('modifiedData');
      
      if (selectElement.value === 'bname') {
        inputElement.type = 'text';
      } else if (selectElement.value === 'sno') {
        inputElement.type = 'number';
      } else if (selectElement.value === 'rdate') {
        inputElement.type = 'date';
      }
    }
    
  </script>
</body>
</html>
